<h3 class="ui header">{{t "forms.t-v-single-spa-sample-request-person-data-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.body
      class=(if (v-get validationModel "body" "isInvalid") "error")
      label=(t "forms.t-v-single-spa-sample-request-person-data-e.body-caption")
      data-test-t-v-single-spa-sample-request-person-data-e-body=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "body" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.result
      class=(if (v-get validationModel "result" "isInvalid") "error")
      label=(t "forms.t-v-single-spa-sample-request-person-data-e.result-caption")
      data-test-t-v-single-spa-sample-request-person-data-e-result=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "result" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.t-v-single-spa-sample-request-person-data-e.person-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.person
      displayAttributeName="esiaId"
      autocomplete=true
      relationName="person"
      projection="PersonL"
      title=(t "forms.t-v-single-spa-sample-request-person-data-e.person-caption")
      readonly=readonly
      componentName="personLookup"
      class=(if (v-get validationModel "person" "isInvalid") "error")
      data-test-t-v-single-spa-sample-request-person-data-e-person=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "person" "message")}}
  </div>
</form>
